.container{
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre les éléments verticalement */
    background-color: 	#c6d3e3;
}

.button {
    background-color:#6488a4; /* Couleur de fond verte */
    border: none; /* Supprime la bordure */
    color: white; /* Couleur du texte blanche */
    padding: 15px 32px; /* Espacement interne */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime la décoration du texte */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 12px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Transition pour l'effet de survol */
}

.button:hover {
    background-color: #a7cde9; /* Couleur de fond au survol */
}

.container h1{
    font-size:3em; /* Taille de la police */
    margin-bottom: 20px; /* Marge en bas */
}

.win{
    font-size: 0.5em; /* Taille de la police */
}

.valid{
    font-size: 0.40rem;
    color: #ff5757;
}